.tab {
    display: inline-block;
    margin-left: 40px;
}

.buttonsize{    
    height:600px;
    width:300px;
    font-family: sans-serif;
    font-size: 45;
}

.buttonsize2{    
    height:500px;
    width:200px;
    font-family: sans-serif;
    font-size: 20;
}

.inputsize{
    height:50px;
    width:50px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 22;
    background-color: rgb(140, 40, 40);
    text-align: center;
}